* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.row {
    color: rgb(7, 120, 90);
    background-color: rgb(128, 219, 157);
}

#input-list > div {
    display: flex;
    justify-content: space-between;
    color: rgb(7, 120, 90);
    font-size: 15px;
    list-style: none;
    cursor: pointer;
}

i.bi-check-circle,i.bi-circle,i.bi-trash3-fill {
    color: rgb(7, 120, 90);
    font-size: 20px;
    cursor: pointer;
}

/* @media only screen and (max-width: 900px) {
    .week,.month {
        font-size: 50px;
    }
    .day {
        font-size: 100px
    }
} 