* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.styled {
    color: teal;
    border-radius: 25px;
    border: 2px solid teal;
    padding: 20px;
    width: 50%;
    height: 400px;
    margin: 5px;
}

.left-column {
    width: 50%;
}

.week,.month {
    font-size: 25px;
}

.day {
    font-size: 60px
}