<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flores Family Home Dashboard</title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta http-equiv="refresh" content="10"> -->
        <!-- For Testing in live port use link reference for css file need to include previous /folder...-->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- For Live Flask App use link reference with static path-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class="row p-1 m-auto">
            <div class="col-md-3 py-3 bg-dark bg-opacity-30 text-light rounded">
                <h1 id="js-time" class="text-center text-warning" style="font-size: 5rem"></h1>
                <h1 id="js-date" class="text-center text-warning" style="font-size: 3rem"></h1>
                <div class="text-center" style="font-size: 30px">{{ currentDayOfWeek }}</div>
                <div class="text-center" style="font-size: 80px">{{ currentMonth }}</div>
                <div class="text-center" style="font-size: 280px">{{ currentDay }}</div>
            </div>
            <div class="col-md-9 py-3 rounded">
                <h1 class="px-3">Hola Familia Flores Leon</h1>
                <div class="container px-3 text-center" style="font-size: 20px;">Bible Verse of the Day
                    <p class="d-flex" style="font-size: 18px;">{{ chapter }}</p>
                    <p class="container" style="font-size: 25px;">{{ verse }}</p>
                </div>
                <div class="d-flex justify-content-evenly">
                    <div class="card py-3" style="width: 15rem;">
                        <h5 class="card-title text-center">City of {{city}}</h5>
                        <img src="{{ imagePath }}" class="card-img-top" alt="Weather Image from Weather API">
                        <div class="card-body">
                            <p class="card-text text-center" style="font-size: 45px;">{{temperature}}°F</p>
                          <p class="card-text text-center">{{description}}</p>
                        </div>
                    </div>
                    <div class="rounded" style="width: 75%;">
                        <img src="https://media.tenor.com/QaQiLi04QQQAAAAd/bluey-bingo.gif" class="card-img-top rounded" alt="Weather Image from Weather API">
                    </div>
                    <!-- <div class="card py-3" style="width: 15rem;">
                        <h5 class="card-title text-center">City of {{city}}</h5>
                        <img src="{{ imagePath }}" class="card-img-top" alt="Weather Image from Weather API">
                        <div class="card-body">
                            <p class="card-text">{{temperature}}°F</p>
                          <p class="card-text">Weather Condition is {{description}}</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/liveTime.js') }}"></script>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/hdNZ0yIkxu4?si=_A6AObgAK4Zc7Jrd&amp;start=1?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        <!-- <audio id="myAudio" controls muted>
            <source src="{{ url_for('static', filename='sound/bluey_theme_full.mp3') }}" type="audio/mpeg">
        </audio>
        <script src="{{ url_for('static', filename='js/audio.js') }}"></script>         -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <!--
        <script src="{{ url_for('static', filename='js/refresh.js') }}"></scrip>
        -->
    </body>
</html>